
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inconsolata', monospace;
    color: white;
    --color-fondo: #215c75;
    --color-fuente: white;
}

html{
    position: relative;
    min-height: 100%;
}

body{
    background: linear-gradient(90deg, blue, #93adf5);
    height: 100%;
}

.titulo{
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 75px;
    padding-left: 10px;
}

h1, img{
    display: inline-block;;
}

.titulo img{
    width: 50px;
    height: 50px;
    padding-top: 10px;
}

.estilo-caja{
    background-color: var(--color-fondo);
    width: 90%;
    height: 50px;
    margin-right: auto;
    margin-left: auto;
    font-size: 20px;
    padding-left: 20px;
    padding-top: 15px;
    padding-right: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px black;
    display: flex;
}

section .estilo-caja {
    justify-content: space-between;
}

nav{
    display: flex;
    justify-content: space-between;
}

a{
  text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

.menu-datos{
    margin-left: 2rem;
}

.menu-datos a{
  padding-left: 20px;
}


.atras{
    margin-left: 20px;
}

.menu-atras{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    font-size: 20px;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}

.principal{
    margin-top: 15px;
    height: 75vh;
}

.principal-img{
    background-image: url("../img/ball-tennis.jpg");
    background-size: cover;
}

footer{
    position: absolute;
    bottom: 0;
    padding-bottom: 1%;
    padding-left: 2.5%;
}




.div-tabla{
    background-color: #215c75;
    width: 80%;
}

.div-tabla table{
    width: 60%;
    margin-top: 1em;
    margin-left: 2em;
    border-collapse: separate;
    border-spacing: 20px;
    border: 1px solid black;
}

.div-tabla table th, td{
    text-align: center;
}

.div-tabla table thead td{
    border-bottom: 1px solid black;
    padding-bottom: 5px;
    text-transform: uppercase;
}

.div-tabla table tbody td{
    font-size: 15px;
}






/* Caja principal para coger dentro formularios*/
.div-caja-form{
    margin-top: 1em;
    margin-left: 1em;
    padding: 10px;
}

/* Agrupa varios formularios uno al lado del otro*/
.div-agrupar-form{
    margin-left: 1em;
    display: flex;
}

/* Estilo de formulario */
.div-estilo-form{
    margin-left: 1em;
    display: flex;
    flex-direction: column;
    /*width: 50%;*/
}

/* Alinea los componentes dentro de un formulario en la parte de abajo */
.div-alinear-abajo{
    justify-content: end;
}

/* Estilo para los input de tipo text*/
.txt{
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    margin-bottom: 25px;
    margin-top: 5px;
    background-color: inherit;
    font-size: 15px;
    font-family: 'Inconsolata', monospace;
    color: var(--color-fuente);
    text-align: center;
}

/* Estilo de input de tipo número más corto que uno de tipo text */
.txt_numero{
    margin-left: 30px;
    width: 30px;
}

/* Ancho de input tipo text*/
.txt_cadena{
    width: 150px;
}

label{
    text-align: left;
}


select{
    text-align: center;
    font-family: 'Inconsolata', monospace;
    color: var(--color-fuente);
    background-color: inherit;
    font-size: 15px;
}

option{
    text-align: center;
    color: var(--color-fuente);
    background-color: blue;
}

.ancho-select{
    min-width: 10rem;
 }


 .estilo-boton{
    margin-left: 10px;
    width: 80px;
    height: 50px;
    margin-top: 15px;
    cursor: pointer;
    background-color: #215c75;
    font-family: 'Inconsolata', monospace;
    color: var(--color-fuente);
    box-shadow: 10px 10px black;
    border-radius: 10px;
    font-size: 15px;
}


p {
   font-family: 'Inconsolata', monospace;
    color: var(--color-fuente);
}

















/*

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inconsolata', monospace;
    color: white;
    --color-fondo: #215c75;
    --color-fuente: white;
}

html{
    position: relative;
    min-height: 100%;
}

body{
    background: linear-gradient(90deg, blue, #93adf5);
    height: 100%;
}

.titulo{
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 75px;
    padding-left: 10px;
}

h1, img{
    display: inline-block;;
}

.titulo img{
    width: 50px;
    height: 50px;
    padding-top: 10px;
}

.estilo-caja{
    background-color: var(--color-fondo);
    width: 90%;
    height: 50px;
    margin-right: auto;
    margin-left: auto;
    font-size: 20px;
    padding-left: 20px;
    padding-top: 15px;
    padding-right: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px black;
    display: flex;
}

section .estilo-caja {
    justify-content: space-between;
}

nav{
    display: flex;
    justify-content: space-between;
}

a{
  text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

.menu-datos{
    margin-left: 2rem;
}

.menu-datos a{
  padding-left: 20px;
}


.atras{
    margin-left: 20px;
}

.menu-atras{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    font-size: 20px;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}

.principal{
    margin-top: 15px;
    height: 75vh;
}

.principal-img{
    background-image: url("../img/ball-tennis.jpg");
    background-size: cover;
}

footer{
    position: absolute;
    bottom: 0;
    padding-bottom: 1%;
    padding-left: 2.5%;
}


.div-tabla{
    background-color: #215c75;
    width: 80%;
}

.div-tabla table{
    width: 60%;
    margin-top: 1em;
    margin-left: 2em;
    border-collapse: separate;
    border-spacing: 20px;
    border: 1px solid black;
}

.div-tabla table th, td{
    text-align: center;
}

.div-tabla table thead td{
    border-bottom: 1px solid black;
    padding-bottom: 5px;
    text-transform: uppercase;
}





.div-crear{
    width: 80%;
}

.div-form-crear{
    margin-top: 1em;
    margin-left: 5em;
    padding: 10px;
    width: 60%;
}

.div-form-crear form{
    display: flex;
    flex-direction: column;
    width: 60%;
    font-family: 'Inconsolata', monospace;
    color: var(--color-fuente);
}

 input{
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    margin-bottom: 25px;
    background-color: inherit;
    font-size: 15px;
}

.div-form-crear label{
    margin-bottom: 10px;
}


.div-form-crear-partido{
    width: 80%;
    margin-top: 1em;
    margin-left: 5em;
    padding: 10px;
}

.div-modificar-partido{
   display: inline-block;
}




.div-buscarId-jugador{
    width: 80%;
    margin-top: 1em;
    margin-left: 3em;
    padding: 10px;
    font-size: 18px;
}

.div-buscarId-jugador select,
.aspecto-select{
    text-align: center;
    font-family: 'Inconsolata', monospace;
    color: var(--color-fuente);
    background-color: inherit;
    font-size: 15px;
}

.div-buscarId-jugador select option,
.aspecto-select-option{
    color: var(--color-fuente);
    background-color: var(--color-fondo);
}

.div-select-jugador,
.div-paga-jugador{
    padding: 10px;
}


.ancho-select{
   min-width: 10rem;
}

.alinear-bloque{
  display: inline-block;
}





.estilo-boton{
    margin-left: 10px;
    width: 80px;
    height: 50px;
    margin-top: 15px;
    cursor: pointer;
    background-color: #215c75;
    font-family: 'Inconsolata', monospace;
    color: var(--color-fuente);
    box-shadow: 10px 10px black;
    border-radius: 10px;
    font-size: 15px;
}


p {
   font-family: 'Inconsolata', monospace;
    color: var(--color-fuente);
}


.txt_id{
    font-size: 15px;
    width: 25px;
    text-align: center;
}

*/