
.div-tabla{
    background-color: #215c75;
    width: 80%;
}

.div-tabla table{
    width: 60%;
    margin-top: 1em;
    margin-left: 2em;
    border-collapse: separate;
    border-spacing: 20px;
    border: 1px solid black;
}

.div-tabla table th, td{
    text-align: center;
}

.div-tabla table thead td{
    border-bottom: 1px solid black;
    padding-bottom: 5px;
    text-transform: uppercase;
}

